/* adding navigation tag styles */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: #FFF8F3;
}
.btn-pr{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
}
.sec-headings{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sec-con{
    font-size: 18px;
    color: 757575;
}
.font-col{
    color:#FD6E0A ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.br-title{
    font-weight: 600;
    font-size: 45px;
}
.br-intro{
    font-weight: bold;
    font-size: 85px;
}
.br-image{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}
.br-content{
    max-width: 585px;
}
.ab-second-bg{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.p-d{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}
.p-t{
    font-weight: normal;
    font-size:20px;
    color: #757575;
}
.ab-items{
    display: flex;
    justify-content: space-between;
}
/* what i do */
.m-w{
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 4px 50px 0px rgba(0 ,0 ,0 ,0.06) ;
}
